.player-container {
  background: linear-gradient(135deg, #e5e6e7, #cfd4da);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 7vh;
  cursor: pointer;
  width: 19vw;
}

.buttons-audio {
  display: flex;
}

.time-player {
  width: 8vw;
  display: flex;
  justify-content: center;
}

.buttons-audio button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}

.buttons-audio span {
  font-size: 28px;
}

.buttons-audio span:hover {
  color: rgb(47, 46, 46);
}

@media (max-width: 767px) {

  .player-container {
    width: 67vw;
  }

}